<main>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="1800">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-50" src="../../../assets/img/pulpo1.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-50" src="../../../assets/img/pulpo2.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-50" src="../../../assets/img/pulpo3.jpg" alt="Third slide">
            </div>
        </div>
    </div>
</main>