<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['./Inicio']"> <img src="../../../assets/img/OctopusDeploy-logo-white.png" height="30px" alt=""> Pulpilandia</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="#">Productos</a>
            <a class="nav-item nav-link" href="#">Pricing</a>
        </div>

    </div>

    <span class="navbar-text">
            
        <a class="nav-item nav-link" href="#"><i class="fa fa-shopping-cart fa-2x" ></i></a>
      </span>
</nav>