.imgg {
    position: relative;
    display: inline-block;
}

img {
    object-fit: cover;
}

.tittle {
    font-family: 'Lobster Two', cursive;
    font-size: 60px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 1px 2px black;
}