<img src="../../../assets/img/pulpos.jpeg" class="imgg" width="100%">

<div class="tittle animate__bounce animate__bounce ">
    Pulpilandia
</div>
<div>
    <div>

    </div>
    <div class="container">
        <br>
        <div>
            <app-cards></app-cards>
        </div>
        <br>
        <div style="text-align: center;">
            <button class="btn btn-outline-dark" style="text-align: center;"> ¡Ir de compras!</button>
        </div>
        <br>
    </div>
</div>