<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="../../../assets/img/p1.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">$50.10</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="../../../assets/img/p2.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">$50.10</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="../../../assets/img/p3.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">$50.10</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="../../../assets/img/p4.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">$50.10</small></p>
        </div>
    </div>
</div>